*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this is the root font size! */
  /* defines what 1 rem is */
  font-size: 62.5%;  /* 10px / browser default 16px */
}

body {
  box-sizing: border-box;
}
